<section class="colonne centre">

    <h2>Nous contacter</h2>

<form>

    <div class="container colonne centre">
        <div class="colonne marge">
            <label for="nom">Entrer votre nom :</label>
            <input id="nom" name="nom" type="text" size="50" placeholder="NOM">
        </div>
        <div class="colonne marge">
            <label for="prenom">Entrer votre prénom :</label>
            <input id="prenom" name="prenom" type="text" size="50" placeholder="PRENOM">
        </div>
        <div class="colonne marge">
            <label for="tel">Entrer votre numéro de téléphone :</label>
            <input id="tel" name="tel" type="text" size="50" placeholder="Téléphone">
        </div>
        <div class="colonne marge">
            <label for="email">Entrer votre adresse mail :</label>
            <input id="email" name="email" type="text" size="50" placeholder="Adresse Mail">
        </div>
        <div class="colonne marge divForm">
            <label for="content">Entrer votre message (500 caractères maximum) :</label>
            <textarea name="content" id="content"></textarea>
        </div>
        <button class="orange">Envoyer</button>
    </div>

</form>

</section>
