
<nav class="ligne">
      <!-- partie liens intra -->
    <div class="bleu divFooter1 centre respDirection">
        <div class="colonne linkIntra centre">
            <p routerLink="mentionsLegales">Mentions légales</p>
            <p routerLink="connexion">Connexion</p>
        </div>
        <div class="respDirection centre">
            <a> email : </a>
            <a>contact&#64;aves-vermandois.fr</a>
        </div>
        <p>téléphone : 03 23 07 26 67</p>
    </div>

      <!-- partie liens externes au site -->
    <div class="respDirectionlogo vert divFooter2 espace centre">
        <div class="logoFooter">
            <a href=""><img src="/images/commons/facebook.png" alt="logoFacebook"></a>
        </div>
        <div class="logoFooter">
            <a href="" class="logoFooter"><img src="/images/commons/linkedIn.png" alt="logolinkedIn"></a>
        </div>
    </div>
</nav>
