<nav class="navbar">
    <div class="navbarMenu">
        <a routerLink="Accueil">
            <img src="/images/commons/logoAVES.png" alt="logoaves">
        </a>
        <img src="/images/commons/menu-burger.png" alt="menu">
        <div class="navLinks">
            <p>Association intermédiaire</p>
            <a class="navLink" (click)="toggleACIDropDown()">
                Atelier Chantier d'insertion
            </a>
            <a>Plateforme Mobilité</a>
            <a>En Terre Connectée</a>
            <a>Nos services</a>
            <a>Nous contacter</a>
            <a>A propos de nous</a>
        </div>
    </div>
</nav>
